# Environments
venv/
env/
.venv/
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Docker
postgres_data/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
